![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

# Tópicos da Aula de Hoje

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" width="500" height="200" />

- Limpeza de Dados:
  - Por que fazer ?
  - Investigação e Definição de Tipos 
  - Investigação de inconsistências

Bora pra aula?

In [1]:
import pandas as pd
import numpy as np

# Limpeza de Dados

## Investigação e Definição de Tipos

A primeira coisa que você deve identificar é o tipo das colunas com as quais você vai lidar. Geralmente lidamos com centenas de colunas e mapear isso é trabalhoso. E esse processo vai depender vai depender do conhecimento de negócio.

In [2]:
# Carregando os dados
nyc_sales = pd.read_csv('nyc-rolling-sales_twentieth.csv')

In [3]:
nyc_sales.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

A primeira coisa que observamos é a coluna ```Unnamed: 0```. Devemos removê-la, já que nem nome ela possui. Essa coluna surge geralmente devido a gravação do índice do dataframe como coluna do csv. Se quisermos evitar que um índice de dataframe seja salvo após nossa análise, passamos o parâmetro ```index=False``` para o método ```.to_csv()```.

In [4]:
nyc_sales.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
nyc_sales.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

No Link abaixo podemos ver um pouco da descrição dos dados.<br>
<a href="https://www.kaggle.com/new-york-city/nyc-property-sales"> Descrição dos Dados</a>

In [6]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  int64
 5   LOT                             16909 non-null  int64
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                16909 non-null  object
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                16909 non-null  object
 15  GROSS SQUARE FEET               16909 non-null  object
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      16909 non-null  object
 20  SALE DATE                       16909 non-null  object
dtypes: int64(9), object(12)
memory usage: 2.7+ MB

In [7]:
nyc_sales.dtypes

BOROUGH                            int64
NEIGHBORHOOD                      object
BUILDING CLASS CATEGORY           object
TAX CLASS AT PRESENT              object
BLOCK                              int64
LOT                                int64
EASE-MENT                         object
BUILDING CLASS AT PRESENT         object
ADDRESS                           object
APARTMENT NUMBER                  object
ZIP CODE                           int64
RESIDENTIAL UNITS                  int64
COMMERCIAL UNITS                   int64
TOTAL UNITS                        int64
LAND SQUARE FEET                  object
GROSS SQUARE FEET                 object
YEAR BUILT                         int64
TAX CLASS AT TIME OF SALE          int64
BUILDING CLASS AT TIME OF SALE    object
SALE PRICE                        object
SALE DATE                         object
dtype: object

Algumas variáveis que são do tipo numérico estão representadas como ```object```:
* ```SALE PRICE```
* ```GROSS SQUARE FEET```
* ```LAND SQUARE FEET```
* ```APARTMENT NUMBER```

Da mesma maneira temos variáveis categóricas que estão como ```int64```:
* ```BOROUGH```
* ```BLOCK```
* ```LOT```
* ```TAX CLASS AT TIME OF SALE```

Inclusive, a própria descrição das variáveis nos revela que podemos utilizar BLOCK da seguinte maneira: Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).

Vamos tentar algumas conversões? Para isso iremos tentar as conversões através do método ```.astype()```

In [8]:
nyc_sales.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [10]:
nyc_sales['SALE PRICE']

0        6625000
1            -
2            -
3        3936272
4        8000000
          ...
16904        -
16905     712500
16906     740000
16907    1800000
16908        -
Name: SALE PRICE, Length: 16909, dtype: object

In [9]:
# object to float
nyc_sales['SALE PRICE'] = nyc_sales['SALE PRICE'].astype('float32')
# errors = ignore garantem que se tiver algum missing, mesmo assim será convertido

ValueError: could not convert string to float: ' -  '

In [11]:
nyc_sales.loc[nyc_sales['SALE PRICE']==' -  ']

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,,...,20,0,20,2581,9730,1900,2,C4,-,2017-07-20 00:00:00
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,,...,44,2,46,5163,21007,1900,2,C7,-,2017-07-20 00:00:00
8,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,,D5,141 AVENUE D,,...,15,0,15,1534,9198,1920,2,D5,-,2017-06-20 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16871,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1230,61,,D4,"470 WEST END AVENUE, 3F",,...,0,0,0,-,-,1928,2,D4,-,2017-08-01 00:00:00
16874,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1231,1,,D4,"490 WEST END AVENUE, 7A",,...,0,0,0,-,-,1913,2,D4,-,2017-03-16 00:00:00
16875,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1231,1,,D4,"490 WEST END AVENUE, 7B",,...,0,0,0,-,-,1913,2,D4,-,2017-03-16 00:00:00
16904,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 9A",,...,0,0,0,-,-,1925,2,D4,-,2017-02-08 00:00:00
16908,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 W 89TH STREET, 8E",,...,0,0,0,-,-,1925,2,D4,-,2017-05-04 00:00:00

Não houve conversão, pois existe um ```-``` no meio das colunas. Isso é um indício de que valores faltosos são representados dessa maneira no nosso dataframe.

Vamos usar outro método: ```pd.to_nummeric```.

In [12]:
nyc_sales['SALE PRICE'] = pd.to_numeric(nyc_sales['SALE PRICE'], errors='coerce')
nyc_sales['SALE PRICE']

0        6625000.0
1              NaN
2              NaN
3        3936272.0
4        8000000.0
           ...
16904          NaN
16905     712500.0
16906     740000.0
16907    1800000.0
16908          NaN
Name: SALE PRICE, Length: 16909, dtype: float64

In [13]:
nyc_sales

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633,6440,1900,2,C2,6625000.0,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,4616,18690,1900,2,C7,NaN,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,,...,16,1,17,2212,7803,1900,2,C7,NaN,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272,6794,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369,4615,1900,2,C2,8000000.0,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 9A",,...,0,0,0,-,-,1925,2,D4,NaN,2017-02-08 00:00:00
16905,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 10C",,...,0,0,0,-,-,1925,2,D4,712500.0,2017-02-13 00:00:00
16906,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89 ST, 10D",,...,0,0,0,-,-,1925,2,D4,740000.0,2017-02-13 00:00:00
16907,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 7G",,...,0,0,0,-,-,1925,2,D4,1800000.0,2017-04-27 00:00:00
16908,1,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 W 89TH STREET, 8E",,...,0,0,0,-,-,1925,2,D4,NaN,2017-05-04 00:00:00

In [14]:
def to_int(value):
    numero = int(value)
    return numero

In [15]:
nyc_sales['GROSS SQUARE FEET']

0         6440
1        18690
2         7803
3         6794
4         4615
         ...
16904      -
16905      -
16906      -
16907      -
16908      -
Name: GROSS SQUARE FEET, Length: 16909, dtype: object

In [16]:
# Vamos usar um for para converter as demais 
# SALE PRICE GROSS SQUARE FEET LAND SQUARE FEET    APARTMENT NUMBER
nyc_sales['GROSS SQUARE FEET'].map(to_int)

ValueError: invalid literal for int() with base 10: ' -  '

In [18]:
for coluna in ['SALE PRICE', 'GROSS SQUARE FEET', 'LAND SQUARE FEET', 'APARTMENT NUMBER']:
    # print(coluna)
    # print(nyc_sales[coluna].head())
    # print('#'*50)
    
    nyc_sales[coluna] = pd.to_numeric(nyc_sales[coluna], errors='coerce')

In [19]:
nyc_sales.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,28,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14 00:00:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,NaN,...,16,1,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09 00:00:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00

In [20]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  int64
 5   LOT                             16909 non-null  int64
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  object
dtypes: float64(4), int64(9), object(8)
memory usage: 2.7+ MB

Perceba que agora aparecem valores Null no nosso dataframe.

As variáveis categóricas que estão como inteiro iremos converter para ```object```.

In [21]:
for coluna in ['BLOCK', 'LOT', 'TAX CLASS AT TIME OF SALE']:
    nyc_sales[coluna] =  nyc_sales[coluna].astype('object')

In [22]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  int64
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  object
 5   LOT                             16909 non-null  object
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  object
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  object
dtypes: float64(4), int64(6), object(11)
memory usage: 2.7+ MB

Para as variável BOROUGH, vamos seguir as recomendações da "documentação"

In [ ]:
# Podemos usar a função map
#Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).
# Como substituir?

In [23]:
%%timeit
nyc_sales['BOROUGH'].replace([1, 2, 3, 4, 5], ['Manhatan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island'])

1.13 ms ± 129 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [24]:
%%timeit
nyc_sales['BOROUGH'].replace( {1:'Manhatan', 2:'Bronx', 3:'Brooklyn', 4:'Queens', 5:'Staten Island'})

1.05 ms ± 110 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [25]:
%%timeit
nyc_sales['BOROUGH'].map({1:'Manhatan', 2:'Bronx', 3:'Brooklyn', 4:'Queens', 5:'Staten Island'})

366 µs ± 49.6 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [26]:
def get_borough(code):
    if code==1:
        return 'Manhattan'
    elif code==2:
        return 'Bronx'
    elif code==3:
        return 'Brooklyn'
    elif code==4:
        return 'Queens'
    else:
        return 'Staten Island'

In [27]:
%%timeit
nyc_sales['BOROUGH'].apply(get_borough)

1.41 ms ± 102 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [28]:
nyc_sales['BOROUGH'] = nyc_sales['BOROUGH'].map({1:'Manhatan', 2:'Bronx', 3:'Brooklyn', 4:'Queens', 5:'Staten Island'})
nyc_sales

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
1,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,28,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14 00:00:00
2,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,NaN,...,16,1,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09 00:00:00
3,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 9A",NaN,...,0,0,0,NaN,NaN,1925,2,D4,NaN,2017-02-08 00:00:00
16905,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 10C",NaN,...,0,0,0,NaN,NaN,1925,2,D4,712500.0,2017-02-13 00:00:00
16906,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89 ST, 10D",NaN,...,0,0,0,NaN,NaN,1925,2,D4,740000.0,2017-02-13 00:00:00
16907,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 7G",NaN,...,0,0,0,NaN,NaN,1925,2,D4,1800000.0,2017-04-27 00:00:00
16908,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 W 89TH STREET, 8E",NaN,...,0,0,0,NaN,NaN,1925,2,D4,NaN,2017-05-04 00:00:00

In [29]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  object
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  object
 5   LOT                             16909 non-null  object
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  object
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  object
dtypes: float64(4), int64(5), object(12)
memory usage: 2.7+ MB

In [30]:
nyc_sales

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
1,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,28,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14 00:00:00
2,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,NaN,...,16,1,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09 00:00:00
3,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 9A",NaN,...,0,0,0,NaN,NaN,1925,2,D4,NaN,2017-02-08 00:00:00
16905,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 10C",NaN,...,0,0,0,NaN,NaN,1925,2,D4,712500.0,2017-02-13 00:00:00
16906,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89 ST, 10D",NaN,...,0,0,0,NaN,NaN,1925,2,D4,740000.0,2017-02-13 00:00:00
16907,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 WEST 89TH STREET, 7G",NaN,...,0,0,0,NaN,NaN,1925,2,D4,1800000.0,2017-04-27 00:00:00
16908,Manhatan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1237,29,,D4,"201 W 89TH STREET, 8E",NaN,...,0,0,0,NaN,NaN,1925,2,D4,NaN,2017-05-04 00:00:00

Por fim, temos a coluna ```SALE DATE``` que é uma data, mas que está como string. Vamos convertê-la para data usando a função ```pd.to_datetime```

In [31]:
nyc_sales['SALE DATE'] = pd.to_datetime(nyc_sales['SALE DATE'], format='%Y-%m-%d %H:%M:%S')

In [32]:
nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16909 entries, 0 to 16908
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         16909 non-null  object
 1   NEIGHBORHOOD                    16909 non-null  object
 2   BUILDING CLASS CATEGORY         16909 non-null  object
 3   TAX CLASS AT PRESENT            16909 non-null  object
 4   BLOCK                           16909 non-null  object
 5   LOT                             16909 non-null  object
 6   EASE-MENT                       16909 non-null  object
 7   BUILDING CLASS AT PRESENT       16909 non-null  object
 8   ADDRESS                         16909 non-null  object
 9   APARTMENT NUMBER                1156 non-null   float64
 10  ZIP CODE                        16909 non-null  int64
 11  RESIDENTIAL UNITS               16909 non-null  int64
 12  COMMERCIAL UNITS                16909 non-null  int64
 13  TOTAL UNITS                     16909 non-null  int64
 14  LAND SQUARE FEET                1731 non-null   float64
 15  GROSS SQUARE FEET               1621 non-null   float64
 16  YEAR BUILT                      16909 non-null  int64
 17  TAX CLASS AT TIME OF SALE       16909 non-null  object
 18  BUILDING CLASS AT TIME OF SALE  16909 non-null  object
 19  SALE PRICE                      13395 non-null  float64
 20  SALE DATE                       16909 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(5), object(11)
memory usage: 2.7+ MB

In [33]:
nyc_sales.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,NaN,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19
1,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,NaN,...,28,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14
2,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,NaN,...,16,1,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09
3,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,NaN,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23
4,Manhatan,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,NaN,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17

In [34]:
nyc_sales.iloc[0, 20]

Timestamp('2017-07-19 00:00:00')

In [35]:
pd.to_datetime('2020-03-12', format='%Y-%m-%d')

Timestamp('2020-03-12 00:00:00')

In [36]:
nyc_sales.iloc[0, 20] < pd.to_datetime('2020-03-12', format='%Y-%m-%d')

True

### E inconsistências com valores númericos usando notação brasileira?
Exemplo: vírgula para separar a casa decimal e ponto para milhar

In [37]:
df = pd.DataFrame(data=['1.000,56', '0,34', '1.000.000,00' ], columns=['Valor'])
df

          Valor
0      1.000,56
1          0,34
2  1.000.000,00

In [38]:
df.dtypes

Valor    object
dtype: object

```python
pd.read_csv(CAMINHO) -> DataFrame
pd.read_excel(CAMINHO) -> DataFrame

DataFrame.to_csv(CAMINHO) -> CSV
DataFrame.to_excel(CAMINHO) -> Excel
```

In [39]:
df.to_csv('teste.csv', index=False)

In [40]:
df = pd.read_csv('teste.csv')
df

          Valor
0      1.000,56
1          0,34
2  1.000.000,00

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Valor   3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [46]:
%%timeit
df = pd.read_csv('teste.csv', thousands='.', decimal=',')
df

342 µs ± 21.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Valor   3 non-null      float64
dtypes: float64(1)
memory usage: 152.0 bytes

In [45]:
%%timeit
df = pd.read_csv('teste.csv')
df['Valor'] = df['Valor'].str.replace('.', '').str.replace(',', '.')
df['Valor'] = pd.to_numeric(df['Valor'], errors='coerce')
df

600 µs ± 108 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## Investigação de Inconsistências

* Datas fora do range 
* Valores zerados de feet² ou preço de venda
* Valores negativos de preço ou feet²

In [47]:
# Checando se há datas maiores que hoje
(nyc_sales['SALE DATE'] > '2020-03-12').sum()

0

In [48]:
# Checando se há SALE PRICE <= 0
(nyc_sales['SALE PRICE'] <= 0).sum()

0

In [49]:
# Checando as outras colunas
for coluna in ['SALE PRICE', 'LAND SQUARE FEET', 'GROSS SQUARE FEET']:
    
    if (nyc_sales[coluna] <= 0).sum() > 0:
        print(f'{coluna} com registros inconsistentes')
    else:
        print(f'{coluna} OK')

SALE PRICE OK
LAND SQUARE FEET OK
GROSS SQUARE FEET OK